<div class="container">
  <div class="bg-img">
    <img src="../assets/day_bg.jpg" *ngIf="14 > 15" alt="" />
    <img src="../assets/night_sky.jpg" *ngIf="14 <= 15" alt="" />
    <div class="container glass"></div>
    <div class="upper-data">
      <div class="weather-data">
        <div class="location">Jamshedpur</div>
        <div class="temperature">{{ 14.4 | number : "1.0-0" }}°C</div>
      </div>
    </div>
    <div class="lower-data">
      <div class="more-info-label">
        <div class="more-info-container">
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/weather_icons/cold.png" alt="" />
              <span>min</span>
            </div>
            <div class="info-block-value">10°C</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
