<div class="weather-app">
  <div class="container">
    <h3 class="brand">Weather App</h3>
    <div class="weather-data" *ngIf="weatherData">
      <h1 class="temp">{{ weatherData.main.temp | number : "1.0-0" }}&#176;</h1>
      <div class="city-time">
        <h1 class="name">{{ weatherData.name }}</h1>
        <span class="time">{{ time }}</span>
        -
        <span class="date"
          >{{ dateTime?.dayOfWeek }} {{ month }} {{ dateTime?.day }}</span
        >
      </div>
      <div class="weather">
        <img src="{{ conditionImageUrl }}" alt="" width="50" height="50" />
        <span class="condition">{{ description?.description }}</span>
      </div>
    </div>
  </div>
  <div class="panel">
    <form id="locationInput" #search="ngForm" (submit)="onSubmit()">
      <input
        type="text"
        class="search"
        placeholder="Location"
        name="location"
        [(ngModel)]="location"
      />
      <button type="submit" class="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <ul class="details" *ngIf="weatherData">
      <h4>Weather Details</h4>
      <li>
        <span>Cloud</span>
        <span class="cloud">{{ weatherData!.clouds.all }}%</span>
      </li>
      <li>
        <span>Humidity</span>
        <span class="humidity">{{ weatherData!.main.humidity }}%</span>
      </li>
      <li>
        <span>Wind</span>
        <span class="wind">{{ weatherData!.wind.speed }} M/s</span>
      </li>
      <li>
        <span>Sunrise</span>
        <span class="sunrise">{{ sunrise }}</span>
      </li>
      <li>
        <span>Sunset</span>
        <span class="sunset">{{ sunset }}</span>
      </li>
    </ul>
  </div>
</div>
